<div id="user-lists-create-form">
  <%= form_for list, url: user_lists_path(current_user), remote: true do |f| %>
    <div class="form-group has-feedback">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Create a list' %>
      <i class="ion-android-add form-control-feedback"></i>
    </div>
  <% end %>
</div>