<div class="panel panel-default">
  <a data-toggle="collapse" data-parent="#accordion" href="#<%= list.id %>" class="">
  <div class="panel-heading list-card o__hoverable" >
    <h4 class="panel-title">
        <%= list.name %>
    </h4>
  </div>
  </a>

  <div id="<%= list.id %>" class="panel-collapse collapse">
    <div class="panel-body">
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </div>
  </div>
</div>