<!-- USER MESSAGE -->
<%= user_message(current_user) %>

<!-- CREATE LIST FORM -->
<div id="new-list-card" class="list-card o__hoverable" >
  <%= render 'lists/form', user: current_user, list: List.new %>
</div>

<!-- USER LISTS -->
<div class="panel-group" id="user-lists-accordion">
  <%= render current_user.lists %>
</div>
