<div id="video-div">
  <%= video_tag ["do-it.mp4", "do-it.webm", "do-it.ogg"], autoplay: true, muted: true, loop: false, controls: false, id: 'videobg', onended: "myFunction()", onclick: "toggleVideoMute()" %>
</div>

<div id="image-div">
    <%= image_tag "do-it.png", id: 'imagebg' %>
</div>