<div id="<%= "todo-#{todo.id}" %>">
    <div class="edit-todo">
        <%= form_for [list, todo], url: list_todo_path(list, todo), remote: true do |f| %>
          <div class="form-group" id="">
            <div class="input-group">
              <%= f.text_field :name, class: 'form-control', placeholder: 'Add a to-do' %>
              <span class="input-group-btn">
                  <%= button_tag(type: 'submit', class: 'new-todo-btn') do %>
                      <i class="ion-checkmark-circled"></i>
                  <% end %>
                </span>
            </div>
          </div>
        <% end %>
    </div>
</div>