<div id="todo-<%= todo.id %>" class="todo">
  <%= todo.name %>
  <div class="float-right">
    <!-- DELETE TO DO -->
    <%= link_to "", [todo.list, todo], method: :delete, class: 'icon ion-android-close', remote: true %>
  </div>
</div>
