<% list_todo_id    = "#todo-#{@todo.id}" %>
<% list_todos_count     = "#list-#{@todo.list.id}-todo-count" %>

<% if @todo.destroyed? %>
    // hide todo
    $('<%= list_todo_id %>').slideUp(150);
    // update list todos count
    $('<%= list_todos_count %>').html('<%= @todo.list.todos.count %>');
<% else %>
    // show flash error / something went wrong in deletion
    $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] = ">_<"%></div>");
<% end %>