/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


/* ==========================================================================
   NAVBAR
   ========================================================================== */


.navbar-default {
  border: 0;
  background-color: rgba(0,0,0,0.0);

  .navbar-nav > li > a {
    color: white;
    padding-right: 20px;
    font-family: 'Open Sans', sans-serif;
  }

  .navbar-nav > li > a:hover, .navbar-default a:active {
    font-weight: 600;
    color: white;
  }

}





/* ==========================================================================
   GENERAL
   ========================================================================== */

a {
  text-decoration: none !important;
}

body {
  background-color: #75cb7e;
}


h1, h2, h3 {
  color: white;
  font-family: 'Open Sans', sans-serif;
}


/* ==========================================================================
   CARDS
   ========================================================================== */


.card {
  background-color: #fff;
  border: 1px solid #c9d7df;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 0 0 transparent;
  transition: box-shadow linear 0.04s, border-color linear 0.2s;
  position: relative;
}

.list-card {
  @extend .card;
  display:        block;
  padding: 20px 20px 20px 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;

  .todo-count {
    border: 1px solid #c9d7df;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    padding: 0 5px;
  }


}

.card,
.card.o__hoverable:hover:active {
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 2px 20px 0 rgba(0, 0, 0, 0);
  transition: all ease-in-out 0.2s;
  transform: scale3d(1,1,1);
}

.card.o__hoverable:hover,
.card.o__selected {
  border-color: #acbfca;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0), 0 2px 20px 0 rgba(0, 0, 0, 0.2);
  transform: scale3d(1.015,1.015,1);
  opacity: 1;
}


/* ==========================================================================
   USER NEW LIST CARD
   ========================================================================== */


#new-list-card {
  background-color: #4CAF58;
  margin-bottom: 40px;

  #user-lists-create-form {
    margin-top: 10px;

    .form-control {
      border: 0;
      border-radius: 0;
      box-shadow: none;
      background-color: #4CAF58;
      color: #ffffff;
    }

    .form-control::-webkit-input-placeholder { color: white; }
    .form-control:-moz-placeholder { color: white; }
    .form-control::-moz-placeholder { color: white; }
    .form-control:-ms-input-placeholder { color: white; }

    i {
      color: #ffffff;
      font-size: 21px;
    }
  }
}


.float-right {
  float: right;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}


/* ==========================================================================
   USER WELCOME MESSAGE
   ========================================================================== */

#user-message {
  text-align: center;
  line-height: 150%;
  margin-top: 50px;
  margin-bottom: 50px
}
