@import "bootstrap-sprockets";
@import "bootstrap";


/* ==========================================================================
   NAVBAR
   ========================================================================== */

.navbar {
  border: 0;
}

.navbar-default {
  background-color: rgba(0,0,0,0.0);
}

.navbar-header button, button:hover {
  color: white !important;
  background-color: rgba(0,0,0,0.0) !important;
  font-family: 'Open Sans', sans-serif;
}

nav ul li a {
  color: white !important;
  padding-right: 20px !important;
  font-family: 'Open Sans', sans-serif;
}

nav ul li a:hover, a:active{
  font-weight: 600;
}


/* ==========================================================================
   GENERAL
   ========================================================================== */

a {
  text-decoration: none !important;
}

body {
  background-color: #75cb7e;
}


h1 {
  color: white;
  font-family: 'Open Sans', sans-serif;
}


/* ==========================================================================
   CARDS
   ========================================================================== */


.card {
  background-color: #fff;
  border: 1px solid #c9d7df;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 0 0 transparent;
  transition: box-shadow linear 0.04s, border-color linear 0.2s;
  position: relative;
}

.list-card {
  @extend .card;
  display:        block;
  padding: 20px 20px 20px 20px;
}

.card,
.card.o__hoverable:hover:active {
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 2px 20px 0 rgba(0, 0, 0, 0);
  transition: all ease-in-out 0.2s;
  transform: scale3d(1,1,1);
}

.card.o__hoverable:hover,
.card.o__selected {
  border-color: #acbfca;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0), 0 2px 20px 0 rgba(0, 0, 0, 0.2);
  transform: scale3d(1.015,1.015,1);
  opacity: 1;
}