// Place all the styles related to the pages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#videobg, #imagebg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}

#image-div {
  display:none;
}


@media (max-width: 667px) {   // any device less than 667px wide

  // show image background
  #image-div, #imagebg {
    display: block !important;
  }

  // hide video background
  #video-div, #videobg {
    display: none !important;
  }
}